################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/.vs/VSWorkspaceState.json
/.vs/tasks.vs.json
/.vs/slnx.sqlite
/.vs/NLog.Targets.Splunk/v16
/packages
/.vs/NLog.Targets.Splunk
/bin/Debug
/bin/Release
